{% extends 'consulta.html' %}
{% load static %}

{% block js %}
{#    <script src="{% static 'cliente/js/list.js' %}"></script>#}
{% endblock %}

{% block search %}
    <form action="{% url 'ficha_Personal:capacitaciones' %}" method="GET">
      <div class="input-group mb-3">
        <input type="text" name="query" value="{{ query }}" class="form-control" placeholder="Buscar... por nombre" id="idInputSearch" aria-describedby="basic-addon2"/>
        <button type="submit" class="btn btn-primary mr-1" id="idSearchSp">Buscar</button>
      </div>
    </form>
{% endblock %}

{% block columns %}
    <thead>
        <tr class="align-middle table-success text-center table-bordered border-dark">
            <th scope="col" style="width: 25px;">Empleado</th>
            <th scope="col" style="width: 10%;">Opciones</th>
        </tr>
    </thead>
{% endblock %}

{% block rows %}
    {% for cap in capacitacion %}
        <tbody>
            <tr class="align-middle table-warning text-center table-bordered border-dark">
                <td>{{ cap.empleado }}</td>
                <td class="acciones">
                    <a href="{% url 'ficha_Personal:registroCapacitaciones' cap.empleado_id %}">🔎️ Ver información</a>
                </td>
            </tr>

        </tbody>
    {% endfor %}

{% endblock %}