{% extends 'formulario.html' %}
{% load static %}
{
{% block js %}
{#    <script src="{% static 'cliente/js/form.js' %}"></script>#}
{% endblock %}

{% block controls %}
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Error al Grabar</strong> {{ form.errors }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    {% endif %}

    <input type="hidden" name="action" value="{{ action }}">
    <h4 class="fw-bold fst-italic text-secondary text-center">DATOS PERSONALES</h4>
    <hr class="bg-success border-5 border-top border-success">
        <div class="form-group fw-bold">
            {{ form.as_p }}
        </div>
    <hr class="bg-success border-5 border-top border-success">
    <h4 class="fw-bold fst-italic text-secondary text-center">CONTACTO DE EMERGENCIAS</h4>
    <hr class="bg-success border-5 border-top border-success">

        <div class="form-group">
            <label class="fw-bold" >{{ form2.nombres.label }}</label>
            {{ form2.nombres }}
        </div>
    <br>
        <div class="form-group">
            <label class="fw-bold">{{ form2.cedula.label }}</label>
            {{ form2.cedula }}
        </div>
    <br>
        <div class="col-12">
            <label class="fw-bold">{{ form2.telefonos.label }}</label>
            {{ form2.telefonos }}
        </div>
    <br>
        <div class="col-12">
            <label class="fw-bold">{{ form2.parentesco.label }}</label>
            {{ form2.parentesco }}
        </div>

        <div class="col-12">
            <label class="fw-bold">{{ form2.direccion.label }}</label>
            {{ form2.direccion }}
        </div>
        <div>
            <a class="btn btn-outline-info">
                         <b>➕ Agregar</b>
            </a>
        </div>
    <hr class="bg-success border-5 border-top border-success">
    <h4 class="fw-bold fst-italic text-secondary text-center">INFORMACIÓN ACADÉMICA</h4>
    <hr class="bg-success border-5 border-top border-success">
        <div class="col-12">
            <label class="fw-bold">{{ form3.fecha_Inicio.label }}</label>
            {{ form3.fecha_Inicio }}
        </div>

        <div class="col-12">
            <label class="fw-bold">{{ form3.fecha_Fin.label }}</label>
            {{ form3.fecha_Fin }}
        </div>

        <div class="col-12">
            <label class="fw-bold">{{ form3.institucion.label }}</label>
            {{ form3.institucion }}
        </div>

        <div class="col-12">
            <label class="fw-bold">{{ form3.titulo.label }}</label>
            {{ form3.titulo }}
        </div>
        <div>
            <a class="btn btn-outline-info">
                         <b>➕ Agregar</b>
            </a>
        </div>
    <hr class="bg-success border-5 border-top border-success">
    <h4 class="fw-bold fst-italic text-secondary text-center">CAPACITACIONES</h4>
    <hr class="bg-success border-5 border-top border-success">
        <div class="col-12">
            <label class="fw-bold">{{ form4.certificado.label }}</label>
            {{ form4.certificado }}
        </div>

        <div class="col-12">
            <label class="fw-bold">{{ form4.fecha_Inicio.label }}</label>
            {{ form4.fecha_Inicio }}
        </div>

        <div class="col-12">
            <label class="fw-bold">{{ form4.fecha_Fin.label }}</label>
            {{ form4.fecha_Fin }}
        </div>

        <div class="col-12">
            <label class="fw-bold">{{ form4.duracion.label }}</label>
            {{ form4.duracion }}
        </div>
        <div>
            <a class="btn btn-outline-info">
                         <b>➕ Agregar</b>
            </a>
        </div>

    <output id="idImgContenedor" style="width: 200px !important;"></output>
{% endblock %}