{% extends 'formulario.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'Js/Validaciones.js' %}"></script>
{% endblock %}

{% block controls %}
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Error al Grabar</strong> {{ form.errors }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

    {% endif %}
    <input type="hidden" name="action" value="{{ action }}">

    <h4 class="fw-bold fst-italic text-secondary text-center">DATOS PERSONALES</h4>
    <hr class="bg-success border-5 border-top border-success">
        <div class="form-group">
            <label class="fw-bold" >Nombre:</label>
            {{ form.nombres }}
        </div>
        <div class="form-group" >
            <label class="fw-bold" id="cedula" >Cedula:</label>
            {{ form.cedula }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Fecha Nacimiento:</label>
            {{ form.fecha_nacimiento }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Género:</label>
            {{ form.genero }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >País:</label>
            {{ form.pais }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Provincia:</label>
            {{ form.provincia }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Ciudad:</label>
            {{ form.ciudad }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Estado Civil:</label>
            {{ form.estado_civil }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Email:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Dirección:</label>
            {{ form.direccion }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Teléfono:</label>
            {{ form.telefonos }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Fecha IESS:</label>
            {{ form.fecha_IESS }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Tipo Contrato:</label>
            {{ form.tipo_Contrato }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Fecha Ingreso:</label>
            {{ form.fecha_Ingreso }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Foto:</label>
            {{ form.foto }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Cargo:</label>
            {{ form.cargo }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Departamento:</label>
            {{ form.departamento }}
        </div>
        <div class="form-group">
            <label class="fw-bold" >Estado</label>
            {{ form.estado }}
        </div>

    <output id="idImgContenedor" style="width: 200px !important;"></output>
{% endblock %}