{% extends 'boton_agr_reg.html' %}
{% load static %}

{% block controls %}
    <h4 class="fw-bold fst-italic text-secondary text-center">CONTACTO DE EMERGENCIA</h4>
    <hr class="bg-success border-4 border-top border-success">
    <table class="table table-info table-striped table-bordered border-dark col-md-3 text-center">
    {% block columns %}
            <thead>
                <tr class="text-center">
                    <th scope="col" style="width: 5px;">#</th>
                    <th scope="col" style="width: 20px;">Nombre</th>
                    <th scope="col" style="width: 10%;">Cèdula</th>
                    <th scope="col" style="width: 10%;">Teléfono</th>
                    <th scope="col" style="width: 10%;">Parentesco</th>
                    <th scope="col" style="width: 20%;">Dirección</th>
                    <th scope="col" style="width: 10%;">Opciones</th>
                </tr>
            </thead>
    {% endblock %}
    {% block rows %}
        {% for contaEmer in contactoEmergencias %}
            <tbody>
            <tr class="align-middle table-info table-bordered border-dark text-center">
                <td>{{forloop.counter}}</td>
                <td>{{ contaEmer.nombre }}</td>
                <td>{{ contaEmer.cedula }}</td>
                <td>{{ contaEmer.telefonos }}</td>
                <td>{{ contaEmer.parentesco }}</td>
                <td>{{ contaEmer.direccion }}</td>
                <td class="acciones">
                    <a href="{% url 'ficha_Personal:actualizarContactoEmergencia' contaEmer.id %}">✏️</a>
                    <a href="{% url 'ficha_Personal:deleteContactoEmergencia' contaEmer.id %}">❌</a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    {% endblock %}
    </table>
{% endblock %}